<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/scripts') %>
        <title>Document</title>
</head>

<body>

    <!-- Navbar -->
    <%- include('../partials/navbar') %>
        <!-- Navbar -->
        <section>
            <div class="container pt-5">

                <a class="btn btn-warning btn-sm" href="/user/:userId/doctor/appointment">Buat
                    Appointment</a>
                <a class="btn btn-warning btn-sm" href="">Setujui Appointment</a>
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Name</th>
                            <th scope="col">Specialization</th>
                            <th scope="col">Contact Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% doctors.forEach(el=> { %>

                            <tr>
                                <th scope="row">
                                    <%= el.id %>
                                </th>
                                <td>
                                    <%= el.formatName %>
                                </td>
                                <td>
                                    <%= el.specialization %>
                                </td>
                                <td>
                                    <%= el.contactNumber %>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </section>
</body>

</html>