<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/scripts') %>
        <link rel="stylesheet" href="/style.css">

        <title>Document</title>
</head>

<body>

    <!-- Navbar -->
    <%- include('../partials/navbar') %>
        <!-- Navbar -->
        <section>
            <div class="container pt-5">
                <% if (isUserProfileValid.UserProfile) { %>
                    <div class="text-center">

                        <a class="btn btn-success btn-sm mx-2"
                            href="/user/<%= doctorOrUser.id %>/doctor/appointment">Buat
                            Appointment</a>
                        <a class="btn btn-warning btn-sm mx-2"
                            href="/user/<%= doctorOrUser.id %>/doctor/listAppointment">Lihat
                            Appointment</a>
                    </div>

                    <% }else{ %>
                        <div class="text-center">
                            <p class="fs-4 text-danger">
                                Untuk melanjutkan Appointment, tolong lengkapi profile anda
                            </p>
                        </div>
                        <%} %>

                            <div class="d-flex pt-5">
                                <div class="me-auto col-4">
                                    <form class="search-box d-flex">
                                        <input type="submit" class="btn btn-sm btn-info text-dark" value="Search Name">
                                        <input name="name" type="text" class="form-control form-control-sm mx-2"
                                            placeholder="Search by Name . . .">
                                    </form>
                                </div>

                                <!-- Search Post -->
                                <div class="col-4">
                                    <form class="search-box d-flex">
                                        <input name="specialization" type="text"
                                            class="form-control form-control-sm mx-2"
                                            placeholder="Search by Specialization . . .">
                                        <input type="submit" class="btn btn-sm btn-info text-dark"
                                            value="Search Specialization">
                                    </form>
                                </div>
                                <!-- Search Post -->

                            </div>
                            <table class="table text-center mt-5">
                                <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Specialization</th>
                                        <th scope="col">Contact Number</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% doctors.forEach(el=> { %>

                                        <tr>
                                            <th scope="row">
                                                <%= el.id %>
                                            </th>
                                            <td>
                                                <%= el.formatName %>
                                            </td>
                                            <td>
                                                <%= el.specialization %>
                                            </td>
                                            <td>
                                                <%= el.contactNumber %>
                                            </td>
                                        </tr>
                                        <% }) %>
                                </tbody>
                            </table>
            </div>
        </section>
</body>

</html>